*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    background-color: #1859FF;
}
.bg-video{
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.content{
    background-color: rgba(24, 89, 255, 0.95);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.content .preview-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
    display: inline-block;
    width: 100vw;
}
.content .preview-container img{
    margin-bottom: 20px;
    width: 70vw;
    max-width: 400px;
    height: auto;
}
.content .preview-container p{
    font-family: "Lucida Console", Monaco, monospace;
    
    color: #eeeeee;
    font-size: 20px;
}